*{
    direction: rtl !important;
    text-align: right !important;
}
.dropdown-menu {
    display: block;
    visibility: hidden;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    right: 0;
}
.dropdown:hover > .dropdown-menu {
    visibility: visible;
    -webkit-animation: fadeIn 0.4s ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeIn 0.4s ease-in-out;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.dropdown-toggle::after {
    margin-right: 0.255em !important;
}
