*{
    direction: rtl !important;
    text-align: right !important;
}
.dropdown-menu {
    display: block;
    visibility: hidden;
    -webkit-animation: fadeOut 0.4s ease-in-out;
    animation: fadeOut 0.4s ease-in-out;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    right: 0;
}
.dropdown:hover > .dropdown-menu {
    visibility: visible;
    -webkit-animation: fadeIn 0.4s ease-in-out;
    animation: fadeIn 0.4s ease-in-out;
}

.dropdown-toggle::after {
    margin-right: 0.255em !important;
}
